{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_item.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' todo_item.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' todo_item.id %}">Delete</a>
                </p>
    
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in todo_item.items.all %}
                   <tr>
                        <td> {{ item.task }} </td>
                        <td> {{ item.due_date }}</td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
